.bsp/
.idea/
out/
target/
.scala-build/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.envrc

# HTTP Client credentials
requests/http-client.env.json
requests/http-client.private.env.json
