services:
  pg:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: fingrid
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5439:5432"